.collectionbar-button {
    cursor: pointer;
    color: white;
    padding: 1rem;
}
.collectionbar-button b {
    margin: 0.25rem
}

.collectionbar-button-chosen {
    background-color: #3498db
}

.collectionBar {
    position: fixed;
    width: 14rem;
    background-color: #2980b9;
    top:0;
    left: 0;
    bottom: 90px;
    padding-top: 35px;
}

.collection-add-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
}

.collection-add-field {
    margin-top: 2rem;
}