.control {
    padding-top: 1.5rem;
    width: 33%;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.controls {
    height: 90px;
    background-color: #2980b9;
    color: white;
    position: fixed;
    bottom: 0;
    width: 14rem;
    left: 0
}